DATABASE_URL=postgresql://admin:secure_password@db:5432/niladri_db
SECRET_KEY=a_very_secret_key
ALGORITHM=HS256
REFRESH_SECRET_KEY=another_very_secret_key
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7
LICENSE_SECRET_KEY=nam-offline-license-secret-2025
POSTGRES_USER=admin
POSTGRES_PASSWORD=secure_password
POSTGRES_DB=niladri_db
